SELECT [Id]
      ,[Name]
      ,[Description]
      ,[ParentId]
      ,[CreatedDate]
      ,[UpdatedDate]
  FROM [InventoryMinData].[dbo].[Category]

SELECT [Id]
      ,[Name]
      ,[Description]
      ,[CreatedDate]
      ,[UpdatedDate]
  FROM [InventoryMinData].[dbo].[Currency]

SELECT [Id]
      ,[Name]
      ,[Description]
      ,[CreatedDate]
      ,[UpdatedDate]
  FROM [InventoryMinData].[dbo].[State]

SELECT [Id]
      ,[Name]
      ,[Description]
      ,[CreatedDate]
      ,[UpdatedDate]
  FROM [InventoryMinData].[dbo].[Tag]

SELECT [Id]
      ,[Name]
      ,[Description]
      ,[CreatedDate]
      ,[UpdatedDate]
  FROM [InventoryMinData].[dbo].[Unit]